{block name="title"}后台管理员列表{/block}
{extend name="AdminPublic:index"/}
{block name="content"}
<html>
 <head>
  <script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
 </head>
 <body>
  <div class="mws-panel-header"> 
   <span><i class="icon-table"></i> 管理员列表</span> 
  </div> 
  <div class="mws-panel-body no-padding"> 
   <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
   <!--  <div id="DataTables_Table_1_length" class="dataTables_length">
     <label>Show <select size="1" name="DataTables_Table_1_length" aria-controls="DataTables_Table_1"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
    </div> -->
    <form action="/admins/index" method="get">
    <div class="dataTables_filter" id="DataTables_Table_1_filter">
     <label><input aria-controls="DataTables_Table_1" name="keywords" type="text" value="{$k}"/></label>
     <input type="submit" value="搜索" class="btn">
    </div>
    </form>
    <table class="mws-datatable-fn mws-table dataTable" id="ss" aria-describedby="DataTables_Table_1_info"> 
     <thead> 
      <tr role="row">

       <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 57px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">选择</th>
       <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 157px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>
       <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 214px;" aria-label="Browser: activate to sort column ascending">管理员用户名</th>
       <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 138px;" aria-label="Platform(s): activate to sort column ascending">管理员状态</th>
       <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 168px;" aria-label="Engine version: activate to sort column ascending">操作</th>
       <!-- <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" style="width: 98px;" aria-label="CSS grade: activate to sort column ascending">操作</th> -->
      </tr> 
     </thead> 
     <tbody role="alert" aria-live="polite" aria-relevant="all">
     {foreach name="list" item="row"}
      <tr class="odd">
        <td class=" "><input type="checkbox" value="{$row['id']}"></td>  
       <td class=" ">{$row['id']}</td> 
       <td class=" ">{$row['name']}</td> 
       <td class=" ">{$status[$row['status']]}</td>
       <td class=""> <a href="/admins/rolelist/id/{$row['id']}" class="btn btn-primary">分配角色</a> <a href="/admins/del/id/{$row['id']}" class="btn btn-success">删除</a> <a href="/admins/edit/id/{$row['id']}" class="btn btn-info">修改</a></td> 
      </tr>
     {/foreach}
     <tr>
        <td colspan="5"><a href="javascript:void(0)" class="btn btn-success allchoose">全选</a> <a href="javascript:void(0)" class="btn btn-success nochoose">全不选</a> <a href="javascript:void(0)" class="btn btn-success fchoose">反选</a></td>
     </tr>
     <tr>
         <td colspan="5"><a href="javascript:void(0)" class="btn btn-success del">删除</a></td>
     </tr>
     </tbody>
    </table>
   
    <div class="dataTables_paginate paging_full_numbers" id="pages">
     {$list->appends($request)->render()}
    </div>
   </div> 
  </div> 
 </body>
 <script type="text/javascript">
    //全选
    $(".allchoose").click(function(){
      //遍历 tr  有很多个 用tr找到input
      $("#ss").find("tr").each(function(){
        // alert('tr');
        //查找input
        $(this).find(":checkbox").attr("checked",true);
      });
    });

    //全不选

    $(".nochoose").click(function(){
      //遍历 tr
      $("#ss").find("tr").each(function(){
        // alert('tr');
        //查找input
        $(this).find(":checkbox").attr("checked",false);
      });
    });

    //反选
    $(".fchoose").click(function(){
      $("#ss").find("tr").each(function(){
        //取反
        if($(this).find(":checked").attr("checked")){
          //取消选中
          $(this).find(":checkbox").attr("checked",false);
        }else{
          //选中
          $(this).find(":checkbox").attr("checked",true);
        }
      });
    })

    //删除
    $(".del").click(function(){
      arr=[];
      //获取选中数据的id  input中value值
      $(":checkbox").each(function(){
        if($(this).attr("checked")){
          //获取id
          id=$(this).val();
          // alert(id);
          //添加到数组里
          arr.push(id);
        }
      })

      // alert(arr);

      //Ajax请求
      $.get("/admins/delete",{id:arr},function(data){
        // alert(data);
        if(data==1){
          alert("删除成功");     
            //遍历 arr    
            for(var i=0;i<arr.length;i++){
              //根据id获取input  tr
              //  //value='"+arr[i]+"'
              $("input[value='"+arr[i]+"']").parents("tr").remove();
            }
            //刷新页面
            parent.location.reload();
        }else{
          alert("请至少选择一个");
        }
      });

    })
 </script>
</html>
{/block}