{extend name="AdminPublic:index"/}
{block name="content"}
<html>
 <head></head>
 <body>
  <div class="mws-panel grid_8"> 
   <div class="mws-panel-header"> 
    <span>商品信息修改</span> 
   </div> 
   <div class="mws-panel-body no-padding"> 
    <form class="mws-form" action="/goods/update" method="post" enctype="multipart/form-data"> 
     <div class="mws-form-inline"> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">商品名</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large"  name="name" value="{$info['name']}"/> 
       </div> 
      </div> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">类别</label> 
       <div class="mws-form-item"> 
           <select name="cate_id" class="large">
            <option value="0">--请选择--</option>
            {foreach name="cate" item="row"}
              <option value="{$row['id']}" {if condition="$row['pid']==0"} disabled{elseif condition="$row['id']==$info['cate_id']"/}selected{/if}>{$row['name']}</option>
            {/foreach}
          </select>
       </div> 
      </div>
       <div class="mws-form-row"> 
       <label class="mws-form-label">商品图片</label> 
       <div class="mws-form-item"> 
        <input class="large" type="file" name="pic" >
       </div> 
      </div> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">商品状态</label> 
       <div class="mws-form-item"> 
        <select class="large" name="status"> <option value="0" {if condition="$info['status'] eq 0"}selected{/if}>上架</option><option value="1" {if condition="$info['status'] eq 1"}
        selected{/if}>下架</option><option value="2" {if condition="$info['status'] eq 2"}
        selected{/if}>售罄</option>   </select> 
       </div> 
      </div> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">描述</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large"  name="descr" value="{$info['descr']}"/>
       </div> 
      </div>
      <div class="mws-form-row"> 
       <label class="mws-form-label">颜色</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large"  name="color" value="{$info['color']}"/>
       </div> 
      </div>
       <div class="mws-form-row"> 
       <label class="mws-form-label">容量/大小</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large"  name="capacity" value="{$info['capacity']}"/>
       </div> 
      </div>
      <div class="mws-form-row"> 
       <label class="mws-form-label">套餐</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large"  name="package" value="{$info['package']}"/>
       </div> 
      </div>
      <div class="mws-form-row"> 
       <label class="mws-form-label">库存</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large"  name="num" value="{$info['num']}"/> 
       </div> 
      </div> 
      <div class="mws-form-row"> 
       <label class="mws-form-label">单价</label> 
       <div class="mws-form-item"> 
        <input type="text" class="large"  name="price" value="{$info['price']}"/> 
       </div> 
      </div> 
     </div> 


     <div class="mws-button-row"> 
     <input type="hidden" name="id" value="{$info['id']}">
      <input type="submit" value="Submit" class="btn btn-danger" /> 
      <input type="reset" value="Reset" class="btn " /> 
     </div> 
    </form> 
   </div> 
  </div>
 </body>
</html>
{/block}
{block name="title"}商品信息修改{/block}
