{extend name="AdminPublic:index"/}
{block name="title"}修改链接{/block}
{block name="content"}
<div class="mws-panel">
    <div class="mws-panel-header">
        <span>修改链接</span>
    </div>
    <div class="mws-panel-body no-padding">
        <form class="mws-form" action="/link/Update" method="post">
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">url地址</label>
                    <div class="mws-form-item">
                        <input class="large" type="text" name="url" value="{$info.url}">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">名称</label>
                    <div class="mws-form-item">
                        <input class="large" type="text" name="name" value="{$info.name}">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">状态</label>
                    <div class="mws-form-item">
                        <select name="status" id="">
                            <option value="0" {$info.status==0?'selected':''}>审核中</option>
                            <option value="1" {$info.status==1?'selected':''}>已通过</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input type="hidden" name="id" value="{$info.id}">
                <input value="修改" class="btn btn-danger" type="submit">
                <input value="重置" class="btn " type="reset">
            </div>
        </form>
    </div>
</div>
{/block}
{block name="js"}
<script>
    $('.mws-form').submit(function(){
        val=$(':selected').val();
        // alert(val);
        // return false;
    })
</script>
{/block}