{extend name="AdminPublic:index"/}
{block name="title"}未发货订单详情{/block}
{block name="content"}
	<div class="mws-panel grid_8">

                	<div class="mws-panel-header">
                    	<span><i class="icon-table"></i>未发货订单详情</span>
                    	 
                    </div>

                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th>订单ID</th>
                                    <th>下单人ID</th>
                                    <th>下单时间</th>
                                    <th>订单状态/操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {foreach name="order" item="row"}
                                <tr align="center">
                                    <td>{$row['id']}</td>
                                    <td>{$row['u_id']}</td>
                                    <td>{$row['order_time']|date="Y-m-d H:i:s",###}</td>
                                   <!--  if({$row['id']}==0){
                                        <td><a href="/order/go/id/{$row['id']}" class="btn btn-success">点击发货</a></td>
                                    }else{
                                        <td><a href="/order/go/id/{$row['id']}" class="btn btn-success">11</a></td>
                                    } -->
                                   <td>{if condition="$row['status']==2"} <a href="/order/go/id/{$row['id']}" class="btn btn-success">点击发货</a>
                                        {else/} <a href="javascript:void(0)" class="btn btn-danger" >已发货</a>
                                        {/if}
                                    </td>
 
                                </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
<div style="float:right;margin-top:-30px;margin-right:20px" class="dataTables_paginate paging_two_button" id="pages">
                {$order->render()}
                 </div>
{/block}